{% extends 'base.html' %}

{% block body %}

<div id='wrapper'>

    <header>
        <h1 class='center'>Ideology Page</h1>
    </header>

    <nav>
        <ul>
            <a href="/">Home</a>&nbsp;
            <a href="/ideology">Ideology</a>&nbsp;
            <a href="activities.html">Victims Killed</a>&nbsp;
            <a href="reservations.html">Prevented Attacks</a>&nbsp;
        </ul>
    </nav>

    <main>
        <h3>What do you want to look at:</h3>
        <ol>
            <li><a href="/right_wing">Right Wing</a></li>
            <li>Left Wing</li>
            <li>Islamic Terrorism</li>
        </ol>

    </main>

    <footer class='center'>
        <p>Copyright &copy; 2017 Double Sun Productions</p>
    </footer>

</div>

{% endblock %}
