{% extends 'base.html' %}

{% block body %}

<div id='wrapper'>

    <header>
        <h1 class='center'>Islamic Terrorism Page</h1>
    </header>

    <nav>
        <ul>
            <a href="/">Home</a>&nbsp;
            <a href="/ideology">Ideology</a>&nbsp;
            <a href="activities.html">Victims Killed</a>&nbsp;
            <a href="reservations.html">Prevented Attacks</a>&nbsp;
        </ul>
    </nav>

    <main>
        <h3>Here is some basic information on Islamic Terrorism plots /
        attacks</h3>
        <p>Out of {{ total }} terrorist plots or attacks, {{ islamic }} came from
        Islamic extremeist groups.</p>
    </main>

    <footer class='center'>
        <p>Copyright &copy; 2017 Double Sun Productions</p>
    </footer>

</div>

{% endblock %}
