{% extends 'base.html' %}

{% block body %}

<div id='wrapper'>

    <header>
        <h1 class='center'>Victims Killed in Terrorism Attacks</h1>
    </header>

    <nav>
        <ul>
            <a href="/">Home</a>&nbsp;
            <a href="/ideology">Ideology</a>&nbsp;
            <a href="/killed">Victims Killed</a>&nbsp;
            <a href="/prevented">Prevented Attacks</a>&nbsp;
        </ul>
    </nav>

    <main class="fix_bottom">
        <p>Please enter in a value to look at terrorism attacks where that many
        or more victims died. Thus, the data returned will show the user the attacks
        that had that many victims and greater.</p>
        <p>The information returned will be the terrorist attacks where that amount
        of people died.</p>
        <form method="POST" action='/results'>
            <table>
                <p>Use this form to enter in the value that you will be looking at:</p>
                <tr><td>Value: </td><td><input name='number' type='NUMBER' width='60'></td></tr>
            </table>
            <p>Click this button to submit:</p>
            <p><input value='Submit' type='SUBMIT'></p>
        </form>
    </main>

    <footer class='center'>
        <p>Copyright &copy; 2017 Double Sun Productions</p>
    </footer>

</div>

{% endblock %}
