{% extends 'base.html' %}

{% block body %}

<div id='wrapper'>

    <header>
        <h1 class='center'>Left Wing Terrorism Page</h1>
    </header>

    <nav>
        <ul>
            <a href="/">Home</a>&nbsp;
            <a href="/ideology">Ideology</a>&nbsp;
            <a href="/killed">Victims Killed</a>&nbsp;
            <a href="/prevented">Prevented Attacks</a>&nbsp;
        </ul>
    </nav>

    <main class="test">
        <h3>Here is some basic information on Left Wing Terrorism plots/
        attacks</h3>
        <p>Out of {{ total }} terrorist plots or attacks, {{ left }} came from
        left wing extremeist groups.</p>

    </main>

    <footer class='center'>
        <p>Copyright &copy; 2017 Double Sun Productions</p>
    </footer>

</div>

{% endblock %}
