{% extends 'base.html' %}

{% block body %}

<div id='wrapper'>

    <header>
        <h1 class='center'>Attacks which were Not Prevented</h1>
    </header>

    <nav>
        <ul>
            <a href="/">Home</a>&nbsp;
            <a href="/ideology">Ideology</a>&nbsp;
            <a href="/killed">Victims Killed</a>&nbsp;
            <a href="/prevented">Prevented Attacks</a>&nbsp;
        </ul>
    </nav>

    <main class='test'>
        <h4>Not Prevented Attack Information:</h4>
        <p>{{ not_prev }} Out of {{ total }} attacks were <span>not</span> prevented</p>
        <p>Please note, that the data starts sometime after 2001. Thus, the
        information displayed here is not for all terrorism attacks in general.
        Also note that there are not responses for all of the attacks. For
        this reason the number of prevented and not prevented attacks will not
        add up to the correct total.
    </main>

    <footer class='center'>
        <p>Copyright &copy; 2017 Double Sun Productions</p>
    </footer>

</div>

{% endblock %}
