/* Generic CSS */

* {
    box-sizing: border-box;
}

body {
    background-color: #00005D;
    font-family: Verdana, Arial, sans-serif;
}

.center {
    text-align: center;
}

#wrapper {
    margin: 0 auto;
    width: 80%;
    min-width: 960px;
    max-width: 1200px;
    background-color: #B3C7E6;
    color: #000066;
}

header {
    background-color: #869DC7;
    color: #00005D;
    font-size: 150%;
    padding: 10px 10px 10px 10px;
}

nav {
    float: left;
    width: 160px;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 20px 5px 0 20px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 100px;
}

nav a {
    text-decoration: none;
    padding: 10px 0 10px;
    display: block;
    background-color: #B3C7E6;
    border-bottom: 1px solid #ffffff;
}

nav a:link {
    color: #ffffff;
}

nav a:hover {
    color: #869DC7;
    background-color: #EAEAEA;
}

main {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    background-color: #FFFFFF;
    margin-left: 170px;
    padding-top: 1px;
    padding-bottom: 1px;
}

footer {
    font-size: 70%;
    text-align: center;
    padding: 10px;
    background-color: #FFFFFF;
    clear: both;
    margin-left: 170px;
}

/* CSS for Index Page */

#warImage {
    height: 300px;
    background-size: 100% 100%;
    margin-left: 170px;
    background-repeat: no-repeat;
	background-image: url("https://source.unsplash.com/Osd4ngHD4kM/255x200");
}

/* CSS for Ideology page */

.remove_underline {
    text-decoration: none;
}

.fix_bottom {
    padding-top: 80px;
    padding-bottom: 120px;
    overflow: hidden;
}

/* CSS for not_prev.html page */

span {
    text-transform: uppercase;
    font-weight: bold;
}
